.features-section {
  background-color: $lightGrayishBlue;
  text-align: center;
  .features__text {
    @include breakpoints-up(lg) {
      text-align: start;
    }

    h2 {
      font-size: 1.875rem;
      font-weight: 300;

      @include breakpoints-up(lg) {
        font-size: 2.5rem;
      }
    }

    p {
      line-height: 1.5;
      margin: 1.5rem 0 4.2rem 0;
    }
  }

  .features__grid {
    @include breakpoints-up(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }

    @include breakpoints-up(lg) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1.875rem;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        @include breakpoints-up(lg) {
          margin-top: 2rem;
          margin-bottom: 1.5rem;
        }
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
