// Global styles
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: $font-md;
  font-weight: 300;
  color: $grayishBlue;
  line-height: 1.3;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: $grayishBlue;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 1.0625rem 1.5rem;
}

// Flexbox styles
.flex {
  display: flex;

  &-dr-cl {
    flex-direction: column;
  }

  &-js-c {
    justify-content: center;
  }

  &-js-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons Styles
button,
.button {
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  color: $white;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: linear-gradient(to right, $brightCyan, $limeGreen);
    opacity: 0.7;
  }
}

// Visiblity styles
.hide-for-mobile {
  @include breakpoints-down(sm) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoints-up(md) {
    display: none;
  }
}
