.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }

  &__logo {
    width: 8.8125rem;
    height: 1.375rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      position: absolute;
      cursor: pointer;
    }

    &-close {
      display: none;
    }
  }

  &__links {
    a {
      font-size: $font-sm;
      transition: all 0.2s ease;
      padding-bottom: 1.5rem;
      border-bottom: 5px solid transparent;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &:hover {
        color: $darkBlue;
        border-bottom: 5px solid $limeGreen;
      }
    }
  }
}
